[submodule "thirdparty/diff-so-fancy"]
	path = thirdparty/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "oh-my-zsh/custom/plugins/youtube-dl"]
	path = oh-my-zsh/custom/plugins/youtube-dl
	url = https://github.com/rg3/youtube-dl.git
[submodule "oh-my-zsh/custom/plugins/you-get"]
	path = oh-my-zsh/custom/plugins/you-get
	url = https://github.com/soimort/you-get.git