[user]
	name = yixinglu
	email = yxlyee@gmail.com
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	s = status -s
	cl = clone --recursive
	ci = commit -am
	ca = commit --amend
	co = checkout
	cb = checkout -b
	tags = tag -l
	b = branch
	ba = branch -av
	bd = branch -d
	throw = reset HEAD
	r = remote -v
[color]
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
[color "status"]
	added = red
	changed = yellow
	untracked = cyan
