[submodule "thirdparty/diff-so-fancy"]
	path = thirdparty/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
